.radioStyle
{
    color: #171717;
    font-weight:bold;
}
.checkboxStyle
{
    color: #171717;
    font-weight:bold;
}
.inputbottomLabel
{
    margin-bottom: 5px
}

.inputbottomnotificationLabel
{
    margin-bottom: 1px
}